.head__figure {
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 64px;
}

@media screen and (max-width: 1120px) {
  .head__figure {
    margin-top: 56px;
  }
}

@media screen and (max-width: 321px) {
  .head__figure {
    margin-top: 40px;
  }
}